html {
  scroll-behavior: smooth;
}

html,
header,
nav,
ul,
body,
img,
p,
div,
h1,
h3 {
  margin: 0;
  padding: 0;
  border: 0;
}

a {
  color: #000;
  text-decoration: none;
  position: relative;
}

h1 {
  text-align: left;
  font-size: 40px;
  font-family: "Varela Round", sans-serif;
  font-weight: normal;
  margin-bottom: 30px;
}

nav {
  position: fixed;
  overflow: hidden;
  background: #1799b6;
  -webkit-box-shadow: 9px 9px 35px -8px rgba(0, 0, 0, 0.69);
  -moz-box-shadow: 9px 9px 35px -8px rgba(0, 0, 0, 0.69);
  box-shadow: 9px 9px 35px -8px rgba(0, 0, 0, 0.69);
  text-align: center;
  width: 250px;
  height: 100%;

  margin-left: 200px;
}

nav img {
  border-radius: 50%;
  margin-top: 30px;
  width: 170px;
  height: 170px;
}

.headname {
  font-size: 30px;
  font-family: "Ma Shan Zheng", cursive;
  margin-top: 20px;
  margin-bottom: 20px;
}

nav ul {
  font-family: "Titillium Web", sans-serif;
  line-height: 50px;
  font-size: 20px;

  width: 100%;
  background-color: rgb(255, 255, 255);
}
li {
  color: #000;
}

nav a:after {
  border-radius: 1em;
  border-top: 0.1em solid #1799b6;
  content: "";
  position: absolute;
  right: 100%;
  bottom: 0.14em;
  left: 0;
}

nav a:hover:after {
  right: 0;
}

.main {
  margin-left: 470px;
}

.home {
  text-align: center;
  margin-bottom: 50px;
  margin-left: 50px;
}

.home img {
  margin-top: 100px;
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

.namestart {
  font-family: "Varela Round", sans-serif;
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.nameabout {
  font-family: "Titillium Web", sans-serif;

  line-height: 30px;
  margin-right: 50px;
  margin-left: 50px;
  font-size: 20px;
}

.socialicon img {
  width: 40px;
  height: 40px;
  margin-top: 30px;
}

.about {
  text-align: center;
  margin-bottom: 50px;
  margin-left: 50px;
  margin-right: 50px;
}

.skills {
  border-radius: 20px;
  height: 30px;
  width: 600px;
  background-color: #dbdbdb;
}

.skill {
  font-family: "Titillium Web", sans-serif;
  font-size: 20px;
  text-align: left;
  margin-bottom: 5px;
  margin-top: 20px;
}

.html {
  border-radius: 20px;
  text-align: right;
  font-size: 25px;
  height: 100%;
  width: 90%;
  background-color: #1799b6;
}

.js {
  border-radius: 20px;

  text-align: right;
  font-size: 25px;
  height: 100%;
  width: 80%;
  background-color: #1799b6;
}
.php {
  border-radius: 20px;
  text-align: right;
  font-size: 25px;
  height: 100%;
  width: 75%;
  background-color: #1799b6;
}

.wp {
  text-align: right;
  font-size: 25px;
  height: 100%;
  border-radius: 20px;
  width: 80%;
  background-color: #1799b6;
}

.jm {
  text-align: right;
  border-radius: 20px;
  font-size: 25px;
  height: 100%;
  width: 65%;
  background-color: #1799b6;
}

.services {
  text-align: left;
  margin-bottom: 50px;
  margin-left: 50px;
  margin-right: 50px;
}

.service-details div {
  width: 70%;
  height: 120px;
  margin-bottom: 20px;
}

.service-details div img {
  margin-top: 10px;
  width: 100px;
  height: 100px;
  float: left;
}

.service-details h3 {
  font-family: "Titillium Web", sans-serif;
  font-size: 26px;
}

.service-details p {
  font-size: 20px;
  margin-right: 10px;
  font-family: "Varela Round", sans-serif;
}

.blog {
  margin-left: 50px;
}

.blog img {
  width: 300px;
  height: 300px;
  margin-right: 20px;
  margin-bottom: 30px;
}

.contact {
  margin-left: 50px;
}

.contact-socialicon {
  text-align: center;
  margin-top: 150px;
  margin-bottom: 20px;
}

/* /////////////////////footer///////////////////////////////// */

footer p {
  font-family: "Titillium Web", sans-serif;
  margin-bottom: 20px;
  margin-right: 20px;
  margin-top: 200px;
  text-align: right;
}

/* //////////////////////////////////////////////////////////////////////// */

@media screen and (max-width: 1440px) {
  nav {
    margin-left: 0;
  }

  .skills {
    width: 100%;
  }
  .service-details div {
    width: 100%;
    height: 100%;
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 600px) {
  nav {
    display: none;
  }

  .main {
    margin: 0;
  }

  .skills {
    width: 100%;
  }

  .service-details div {
    width: 100%;
    height: 100%;
    margin-bottom: 60px;
  }
}
